{% extends 'locks/base.html' %}
{% load static %}

{% block content %}
  <img class="right-picture" alt="фото где ты?" src="{% static 'locks/images/photo5.jpg' %}" width=40%>
  <p class="about">
      Здравствуйте! Меня зовут <b><i>Марина</i></b>, и я работаю парикмахером уже 3 года.
          Сертифицированный парикмахер-универсал.
         Выполняю мужские, женские, а так-же детские стрижки.
          Плетение кос, вечерние и свадебные прически, укладки.
      </p>
      <p class="about">
          <b><i>Внимательная</i></b> потому что только внимательно рассмотрев человека, можно сделать причёску, которая украсит его лицо;
          <b><i>Храбрая</i></b>, не боюсь экспериментировать и делать такие причёски, которые никогда не делала;
          <b><i>Общительная</i></b>, чтобы клиент не скучал во время стрижки;
          <b><i>Доброжелательная</i></b>,Терпеливая,Аккуратная.
      </p>
{% endblock content %}
